<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1" /-->
	<title></title>
	<link rel="stylesheet" href="the_hottest_styles.css">
	<script src="underscore/underscore.js"></script>
	<script src="jquery/dist/jquery.js"></script>
	<script src="backbone/backbone.js"></script>
	<!-- <script src="paper/dist/paper-full.js"></script> -->
	<script src="p5.js"></script>
</head>
<body>

<!-- SVG 'container' for ripples -->
	<svg id="svg-background" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>

	<div id="loading">LOADING</div>

<!--MAIN CONTENT from Backbone -->
	<div id="ripple"><img src="logo.svg" width="620px"></div>
	<div id="user" class="vessel"></div>
	<div id="ponder" class="vessel"></div>
	<div id="see" class="vessel"></div>
	<div id="hear" class="vessel"></div>
	<div id="learn" class="vessel"></div>
	<div id="read" class="vessel"></div>

<!-- TEMPLATES for Backbone --> 
	<script src="templates.js"></script>
<!-- SCRIPTS -->
	<script src="spine.js"></script>
	<script src="ripple.js"></script>
	<!-- Bootstrap user model from server model -->
	<script>
		window.user = new User(<%- JSON.stringify(userData) %>);
		<% if (isAuthenticated === true) { %>
			user.isAuthenticated = true;
			user.set({id: user.attributes._id});
		<% } else { %>
			user.isAuthenticated = false;
		<% } %>
		window.droplets = <%- JSON.stringify(dropletsData) %>
	</script>
	<script src="main.js"></script>

</body>
</html>