<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /-->
	<title></title>
	<link rel="stylesheet" href="the_hottest_styles.css">
	<script src="underscore/underscore.js"></script>
	<script src="jquery/dist/jquery.js"></script>
	<script src="backbone/backbone.js"></script>
</head>
<body>

<!-- SVG 'container' for ripples -->
	<svg id="svg-background" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g id="svg-group"></g>
	</svg>

<!-- MAIN CONTENT -->
	<div id="user" class="new-user vessel"></div>
	
	<div id="ripple">
		<div>
			<img class="logo" src="logo.svg" width="620px">
			<img class="ghost" src="logo_ghost.svg" width="620px">
		</div>
		<div class="spacer"></div>
		<div class="vessel">
			<li><p>A space where you can collect your thoughts</p></li>
			<li><p class="sub">from different sources around the web</p></li>
			<li><p class="sub-sub">Save bookmarks and quotations on you ripple board</p></li>
		</div>
	</div>

	<div id="jump-in-bkgrd"></div>

<!-- TEMPLATES for Backbone --> 
	<script src="templates.js"></script>
<!-- SCRIPTS -->
	<script src="spine.js"></script>
	<script src="ripple.js"></script>
	<!-- Bootstrap user model from server model -->
	<script>
		window.user = new User();
		user.isAuthenticated = false
	</script>

	<script src="jumpIn.js"></script>

</body>
</html>