<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="the_hottest_styles.css">
	<script src="underscore/underscore.js"></script>
	<script src="jquery/dist/jquery.js"></script>
	<script src="backbone/backbone.js"></script>
</head>
<body>

	<div id="user" class="new-user vessel"></div>

<!-- TEMPLATES for Backbone --> 
	<script src="templates.js"></script>
<!-- SCRIPTS -->
	<script src="spine.js"></script>
	<script src="ripple.js"></script>
	<!-- Bootstrap user model from server model -->
	<script>
		window.user = new User();
		user.isAuthenticated = false
		userView = new UserView({model: user});
	</script>

</body>
</html>