@font-face {
	font-family: 'Syncopate';
	src: url('fonts/Syncopate-Bold.ttf');
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Regular.ttf');
}


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	line-height: 1;
	font-size: 18px;
	font-family: 'OpenSans';
	color: #656;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
div, h2 {
	cursor: default;
}
p {
	cursor: text;
}

body {
	background-color: #fbfbfb;
	width: 100vw;
	height: 4600px;
	overflow-x: hidden;
}

#loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: white;
	z-index: 100;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: -10;
}


.vessel {
	position: absolute;
	/*margin: 50px;*/
	max-width: 520px;
	min-width: 320px;
	min-height: 160px;

}
.vessel li {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin: 4px;
	background: rgba(254,254,254,0.9);
	border: solid 2px rgba(200,200,200,0.2);
}
a, p, button, input {
	margin: 4px;
	padding: 4px;
}
.vessel li:hover {
	background-color: #f8fbfb;
	border: dashed 2px #c7c5e9;
}
.vessel a {
	width: 100%;
}
.vessel a:hover {
	color: #289;
}
.vessel .link, .vessel .quote {
	flex-grow: 2;
	-webkit-flex-grow: 2;
	display: -webkit-flex;
	display: flex;
}
.vessel .quote {
	-webkit-flex-direction: column;
	flex-direction: column;

}
.vessel li.title {
	border-color: transparent; 
	background: none;
	margin: 6px;
	font-size: 26px;
}
.vessel li.title:hover {
	border-color: transparent; 
}

input {
	visibility: hidden;
	flex-grow: 2;
	-webkit-flex-grow: 2;
	background-color: #eaf1fb;
	border: none;
}
.delete {
	/*visibility: hidden;*/
}
button {
	cursor: pointer;
	width: 24px;
	height: 24px;
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	border: none;
	background-color: transparent;
	font-size: 20px;
}
button:hover {
	background-color: #e2f1fb;
}



#user * {
	color: #878;
}
#user li {
	background-color: #faf8fb;
	padding: 0;
}
#user li:hover {
	border: solid 2px rgba(200,200,200,0.2);	
}
#user li.int:hover {
	border: solid 2px rgba(50,150,170,0.2);
}
#user .button, #user p {
	margin: 0;
	padding: 6px;
}
#user .button {
	width: 100%;
	text-align: right;
	cursor: pointer;
}
#user .button:hover {
	color: #289;
	background-color: #f6f7fa;
}
#user input {
	margin: 6px;
	visibility: visible;
	background: transparent;
}
#user li.inp:hover {
	border: dashed 2px #c7c5e9;
}
#user .guest {
	color: #77bdda;
}
#user .guest:hover {
	color: #0ad;
}



#jump-in-bkgrd {
	position: fixed;
	top: calc(42vh + 100px);
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -100;
	background: -webkit-linear-gradient(90deg, #8e989f, #dce1e4 50%, #fffdfd);
	background: linear-gradient(0deg, #8e989f, #dce1e4 50%, #fffdfd);
}



#ripple {
	position: absolute;
	top: 850px;
	line-height: 0.8;
	padding-top: 10px;
	font-size: 130px;
	right: 22vw;
	text-align: center;
}
#ripple .vessel {
	position: static;
	float: right;
}
#ripple .vessel li, #ripple .vessel li:hover {
	display: inline-block;
	float: right;
	background-color: rgba(229,225,230,0.6);
	border: solid 2px rgba(185,185,185,0.8);
}
#ripple p {
	text-align: right;
	color: #656;
	font-size: 23px;
	/*text-align: left;*/
}
#ripple .sub {
	font-size: 18px;
}
#ripple .sub-sub {
	font-size: 17px;
	color: #759;
}
#ripple .arrow-hint {
	position: absolute;
	width: 100%;
}
#ripple .arrow-hint-0 {
	top: -2.4em;
	left: 0;
}
#ripple .arrow-hint-1 {
	bottom: -3.2em;
	left: 0;
}
#ripple .arrow-hint p {
	color: #908c9e;
	font-family: 'Syncopate';
	font-size: 60px; 
	text-align: center;
}
#ripple .arrow-hint-0 p {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}
#ripple .arrow-hint-1 p {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
#ripple .spacer {
	height: 100px;
}
#ripple .ghost {
	position: absolute;
	top: 30px;
	left: 0px;
	visibility: hidden;
	z-index: -10;
}

#user {
	top: 220px;
	left: 50px;
}
#ponder {
	left: 50px;
	top: 1450px;
}
#see {
	right: 50px;
	top: 2050px;
}
#hear {
	left: 50px;
	top: 2650px;
}
#learn {
	right: 50px;
	top: 3250px;
}
#read {
	left: 50px;
	top: 3850px;
}
@media (max-width: 480px) {
	#user {
		top: 220px;
		left: 50px;
	}
	#ripple {
		right: 50px;
	}
	#ponder {
		left: 50px;
		top: 1450px;
	}
	#see {
		right: 50px;
		top: 2050px;
	}
	#hear {
		left: 50px;
		top: 2650px;
	}
	#learn {
		right: 50px;
		top: 3250px;
	}
	#read {
		left: 50px;
		top: 3850px;
	}
}












