* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
}

input {
	visibility: hidden;
}

#user input {
	visibility: visible;
}