@font-face {
	font-family: 'Syncopate';
	src: url('fonts/Syncopate-Bold.ttf');
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-Regular.ttf');
}


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	line-height: 1;
	font-size: 18px;
	font-family: 'OpenSans';
	color: #656;
}
*:focus {
	outline: none;
}
div, h2 {
	cursor: default;
}
p {
	cursor: text;
}

body {
	width: 100vw;
	height: 4600px;
	overflow-x: hidden;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 100;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: -10;
}


.vessel {
	position: absolute;
	/*margin: 50px;*/
	max-width: 520px;
	min-width: 160px;
	min-height: 100px;
	visibility: hidden;
}
.vessel li {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	margin: 4px;
	border: solid 2px transparent;
	background: rgba(255,255,255,0.9);
}
a, p, button, input {
	margin: 4px;
}
.vessel li:hover {
	background-color: #f8fbfb;
	border: dashed 2px #c7c5e9;
}
.vessel a:hover {
	color: #289;
}
.vessel .link, .vessel .quote {
	flex-grow: 2;
	-webkit-flex-grow: 2;
}
.vessel li.title {
	border-color: transparent; 
	background: none;
	margin: 6px;
	font-size: 26px;
}
.vessel li.title:hover {
	border-color: transparent; 
}



input {
	visibility: hidden;
	flex-grow: 2;
	-webkit-flex-grow: 2;
	background-color: #eaf1fb;
	border: none;
}
.delete {
	/*visibility: hidden;*/
}
button {
	width: 24px;
	height: 24px;
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	border: none;
	background-color: transparent;
	font-size: 20px;
}
button:hover {
	background-color: #e2f1fb;
}

#user {
	left: 50px;
	top: 220px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}
#user * {
	margin: 4px;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	color: #878;
}
#user button {
	width: auto;
	padding: 4px;
	padding-right: 6px;
	padding-bottom: 6px;
	text-align: left;
	cursor: pointer;
}
#user button:hover {
	color: #289;
	background-color: #f4faff;
}
#user input {
	visibility: visible;
	background-color: #f4faff;
}
#user .guest {
	color: #77bdda;
}
#user .guest:hover {
	color: #0ad;
}

#ripple {
	position: absolute;
	top: 850px;
	line-height: 0.8;
	padding-top: 10px;
	font-size: 130px;
	right: 22vw;
	text-align: center;
}
#ripple p {
	text-align: right;
	color: #656;
	font-size: 23px;
	/*text-align: left;*/
}
#ripple .sub {
	font-size: 18px;
}
#ripple .arrow-hint p {
	color: #908c9e;
	font-family: 'Syncopate';
	font-size: 60px; 
	display: inline-block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
#ripple .arrow-hint-0 p {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
#ripple .spacer {
	height: 100px;
}
#ripple .ghost {
	position: absolute;
	top: 30px;
	left: 0px;
	visibility: hidden;
	z-index: -10;
}

#ponder {
	left: 50px;
	top: 1450px;
}
#see {
	right: 50px;
	top: 2050px;
}
#hear {
	left: 50px;
	top: 2650px;
}
#learn {
	right: 50px;
	top: 3250px;
}
#read {
	left: 50px;
	top: 3850px;
}
@media (max-width: 480px) {
	#ripple {
		right: 50px;
	}
	#ponder {
		left: 50px;
		top: 1450px;
	}
	#see {
		right: 50px;
		top: 2050px;
	}
	#hear {
		left: 50px;
		top: 2650px;
	}
	#learn {
		right: 50px;
		top: 3250px;
	}
	#read {
		left: 50px;
		top: 3850px;
	}
}


